/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
@import "bourbon";
@import "susy";

$susy: (
        global-box-sizing: border-box
);

$base: ".elead-lightbox";

$medium: 620px;
$large: 1024px;
$lightbox-width-small: 300px;
$lightbox-width-medium: 500px;
$lightbox-min-height: 400px;
$field-font-size: 1rem;
$linkcolor: #f8a13c;
$errorcolor: #e43b0f;
$hover-opacity: 0.58;
$cta-font-size: 0.8rem;
$cta-border: 0.0625rem;
$cta-width: 30rem;
$cta-height: 4*$cta-font-size;

#{$base}-cta {
  display: table;
  margin: 2rem auto;

  &__fieldset {
    display: table-cell;
    border: $cta-border solid $linkcolor;
    overflow: hidden;
    font-size: $cta-font-size;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    position: relative;
    background-color: white;
    width: 96%;
    margin-left: 2%;
    height: $cta-height;
    transition-property:  width, margin-left;
    transition-duration: 500ms;
    transition-timing-function:  ease-in-out;

    @include border-right-radius(2*$cta-font-size);
    @include border-left-radius(2*$cta-font-size);
  }
  &__fieldset:hover,
  &__fieldset:focus {
    border: $cta-border solid rgba($linkcolor, $hover-opacity);
    width: 100%;
    margin-left: 0;
    transition-duration: 250ms;
  }

  &__input[type="text"] {
    background-color: transparent;
    border-width: 0 !important;
    display: block;
    float: left;
    font-size: inherit;
    font-weight: inherit;
    height: $cta-height - 2*$cta-border;
    line-height: inherit;
    padding: 0 ;
    text-align: center !important;
    width: 50%;
  }
  &__button {
    background-color: $linkcolor;
    border-width: 0 !important;
    color: white;
    display: block;
    float: right;
    font-size: inherit;
    font-weight: inherit;
    height: $cta-height - 2*$cta-border;
    line-height: inherit;
    text-align: center !important;
    text-transform: capitalize;
    width: 50%;
    @include border-right-radius(2*$cta-font-size);
  }
  &__button:hover,
  &__button:focus {
    background-color: rgba( $linkcolor, $hover-opacity);
  }
  &__button:hover:after,
  &__button:focus:after {
    content: " \232A";
  }
  &__error {
    margin: 1rem auto;
    width: 100%;
    color: $errorcolor;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

}

#{$base}-form {
  position: relative;
  width: 100%;
  margin: auto;
  min-height: 20em;
  font-size: 1em;
  color: white;
  background-color: rgba( #333333, 0.5);
  padding: 1rem !important;

  legend {
    color: inherit;
  }

  &__fieldset {
    display: block;
    position: relative;
    width: 100%;
    border-width: 0;
    padding: 0;
    // margin: auto;
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    input[type="text"] {
      display: block;
      position: relative;
      box-sizing: border-box;
      padding: 0.5em;
      width: 100%;
      margin: 0.5em 0;
      border-radius: 0.2em;
      font-size: inherit;
    }
  }
  &__checkbox {
    display: block;
    float: left;
    margin-right: 1rem;
    color: inherit;
    input {
      font-size: inherit;
    }
  }
  &__error {
    margin: 0 0 0.5em 0;
    padding-left: 0.5em;
    width: 100;
    color: $errorcolor;
    font-size: 1em;
    font-weight: bold;
  }
  &__submit {
    margin: 2em auto;
    display: block;
    font-weight: normal;
    position: relative;
    width: 75%;
    max-width: 20rem;
    transition-property: width, max-width;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    input[type="submit"] {
      display: inline-block;
      width: 100%;
      height: 3rem;
      border-radius: 3rem;
      border-width: 0;
      font-size: 18px;
      font-weight: inherit;
      text-align: center;
      text-transform: uppercase;
      color: white;
      background-color: $linkcolor;
    }
    input[type="submit"]:after {
      content: " >";
    }
    input[type="submit"]:hover,
    input[type="submit"]:focus {
      font-weight: bolder;
      background-color: rgba( $linkcolor, $hover-opacity );
    }
    input[type="submit"]:hover:after,
    input[type="submit"]:focus:after {
      content: " \232A";
    }
  }
  &__submit:hover {
    width: 78%;
    max-width: 21rem;
    transition-property: width, max-width;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
}

#{$base}-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.6);

  &__wrapper {
    display: table-cell;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.3);
    vertical-align: middle;
  }
  &__lightbox {
    display: block;
    position: relative;
    margin: auto;
    @include container($lightbox-width-small);
    background-color: white;
    min-height: $lightbox-min-height;
    overflow: auto;
    z-index: 5000;
  }
  &__close {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 48px;
    font-weight: lighter;
    text-decoration: none;
    color: #0b0b0b;
    overflow: visible;
    text-align: left;
    z-index: 5001;
    cursor: pointer;
  }
  &__header {
    position: relative;
    display: block;
    color: black;
    font-size: 1.2em;
    margin: 12px 60px 12px 12px;
    padding: 0 1rem;
    float: left;
    text-align: left;
  }
  &__body {
    position: relative;
    display: block;
    width: $lightbox-width-small - 24px;
    margin: 12px;
  }
  &__footer {
    display: block;
    padding: 0 1rem;
    position: relative;
    margin: 12px;
  }

  #{$base}-form {
    color: #4c4c4d;
    background-color: transparent;
    padding: 0;
    fieldset {
      margin: auto;
    }
  }

}

@media screen and (min-width: $medium) {

  //$cta-font-size: 1.6rem;
  #{$base}-cta {
    &__fieldset {
      font-size: 1.5 * $cta-font-size;
    }
    &__input {
      width: 0.6*$cta-width;
    }
    &__button {
      width: 0.4*$cta-width;
    }
  }

  #{$base}-modal {
    &__lightbox {
      @include container($lightbox-width-medium);
      padding-top: 2rem;
    }
    &__body {
      margin-top: 2rem;
      width: $lightbox-width-medium - 24px;
    }
    #{$base}-form {
      &__input {
        width: 50%;
        input[type="text"] {
          width: 95%;
        }
      }
      &__input:nth-of-type(2n) {
        input[type="text"] {
          float: right;
        }
        &__error {
          float: right;
        }
      }
      &__submit {
        margin: 4em auto;
        width: 50%;
        input[type="submit"] {
        }
      }
    }
  }
}

