/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
@import "bourbon";
@import "susy";

$susy: (
        global-box-sizing: border-box
);

$base: ".elead-lightbox";

$medium: 620px;
$large: 1024px;
$lightbox-width-small: 300px;
$lightbox-width-medium: 500px;
$lightbox-min-height: 400px;
$field-font-size: 1rem;
$linkcolor: #f8a13c;
$cta-font-size: 1.2rem;
$cta-border: 0.25rem;
$cta-width: 30rem;

#{$base}-cta {
  display: table;
  margin: 2rem auto;

  &__fieldset {
    display: table-cell;
    border: $cta-border solid $linkcolor;
    overflow: hidden;
    font-size: $cta-font-size;
    padding: 0;
    position: relative;
    background-color: white;
    width: 100%;
    height: 3*$cta-font-size;
    //line-height: 3*$cta-font-size;

    @include border-right-radius(2*$cta-font-size);
    @include border-left-radius(2*$cta-font-size);
  }

  &__input[type="text"] {
    display: block;
    float: left;
    font-size: inherit;
    width: 50%;
    height: 3*$cta-font-size - 2*$cta-border;
    padding: 0;
    margin-right: -1em;
    border-width: 0 !important;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;
  }
  &__button {
    display: block;
    float: right;
    width: 50%;
    height: 3*$cta-font-size - 2*$cta-border;
    font-size: inherit;
    text-align: center;
    text-transform: capitalize;
    border-width: 0 !important;
    color: white;
    background-color: $linkcolor;
  }
  &__error {
    margin: 1rem auto;
    width: 100%;
    color: $linkcolor;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

}

#{$base}-form {
  position: relative;
  width: 100%;
  margin: auto;
  min-height: 20em;
  font-size: 1em;
  color: white;
  background-color: rgba( #333333, 0.5);
  padding: 1rem !important;

  legend {
    color: inherit;
  }

  &__fieldset {
    display: block;
    position: relative;
    width: 90%;
    border-width: 0;
    padding: 0;
    // margin: auto;
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    input[type="text"] {
      display: block;
      position: relative;
      box-sizing: border-box;
      padding: 0.5em;
      width: 100%;
      margin: 0.5em 0;
      border-radius: 0.2em;
      font-size: inherit;
      text-transform: capitalize;
    }
  }
  &__checkbox {
    display: block;
    float: left;
    color: inherit;
    input {
      font-size: inherit;
    }
  }
  &__submit {
    margin: 2em auto;
    display: block;
    input {
      display: block;
      width: 75%;
      height: 3rem;
      border-radius: 3rem;
      border-width: 0;
      margin: 1em auto;
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      background-color: $linkcolor;
    }
  }
}

#{$base}-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.6);

  &__wrapper {
    display: table-cell;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  &__lightbox {
    display: block;
    position: relative;
    margin: auto;
    @include container($lightbox-width-small);
    padding: 1em;
    background-color: white;
    min-height: $lightbox-min-height;
    // width: 90%;
    overflow: auto;
    z-index: 5000;
  }
  &__close {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    font-size: 3rem;
    font-weight: lighter;
    text-decoration: none;
    color: #0b0b0b;
    overflow: visible;
    text-align: right;
    z-index: 5001;
    cursor: pointer;
  }
  &__header {
    display: block;
    color: black;
    font-size: 1.4em;
    width: 90%;
    margin: 1rem auto;
  }
  &__body {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
  &__footer {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }

  #{$base}-form {
    color: #4c4c4d;
    background-color: transparent;
    padding: 0;
    fieldset {
      margin: auto;
    }
  }

}

@media screen and (min-width: $medium) {

  //$cta-font-size: 1.6rem;
  #{$base}-cta {
    &__fieldset {
      font-size: 1.2 * $cta-font-size;
    }
    &__input {
      width: 0.6*$cta-width;
    }
    &__button {
      width: 0.4*$cta-width;
    }
  }

  #{$base}-modal {
    &__lightbox {
      @include container($lightbox-width-medium);
    }
    #{$base}-form {
      &__input {
        width: 50%;
        input[type="text"] {
          width: 95%;
        }
      }
      &__input:nth-of-type(2n) {
        input {
          float: right;
        }
      }
      &__submit {
        input {
          width: 50%;
        }
      }
    }
  }
}

